<header>
    <div class="nav container">
        <div class="nav-bar">
            <div class="logo">
                LOGO
            </div>
            <ul class="nav-bar-list">
                <li class="nav-bar-link">Home</li>
                <li class="nav-bar-link">About</li>
                <li class="nav-bar-link">Register</li>
                <li class="nav-bar-link">Login</li>
            </ul>
        </div>
        <div class="nav-bar-mobile">
            
        </div>
    </div>
</header>
