<body>
  <div class="home container">
      <section class="hero-section">
          <div class="home-container">
              <div class="hero-text-box">
                  <h3 class="heading-tertiary heading-tertiary--hero">- We Provide</h3>
                  <h1 class="heading-primary heading-primary--hero">The Perfect Recipe Manager</h1>
                  <p class="hero-text">
                    Make your own recipe, we value your wishes.
                  </p>
                  <a  routerLink="/about" class="btn btn--home">About</a>
              </div>
          </div>
      </section>
  </div>
</body>
